<p>bowling-score works!</p>
<div class="container">
  <div class="row">
    <div *ngFor="let frame of frames" class="col-md-1 border">
      <div class="container-fluid">
        <app-frame [frame]="frame"></app-frame>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-5 mt-1 mb-1">
      <h2>Frame {{currentFrame}}</h2>
      <label for="bowling-score" class="me-2">Enter score:</label>
      <input type="text" id="bowling-score" class="score-input" [(ngModel)]="bowlingScore" />
    </div>
  </div>
  <div class="row" *ngIf="validationErrors.length > 0">
    <div class="col-5">
      <div *ngFor="let error of validationErrors" class="alert alert-danger">
        <span class="">{{error}}</span>
      </div>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-1">
      <button type="button" class="btn btn-primary" (click)="calculateScore()">Bowl</button>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <button type="button" class="btn btn-secondary" (click)="resetGame()">Restart Game</button>
    </div>
  </div>
</div>
