<div class="row">{{frame.frameNumber}}</div>
<div class="row">
  <div class="col-sm-1" *ngIf="!frame.isLastFrame"></div>
  <div class="col-sm-1 border">
    <div class="small-text">{{frame.scores[0]}}</div>
  </div>
  <div class="col-sm-1 border">
    <div class="small-text">{{frame.scores[1]}}</div>
  </div>
  <div class="col-sm-1 border" *ngIf="frame.isLastFrame">
    <div class="small-text">{{frame.scores[2]}}</div>
  </div>
</div>
<div class="row frame-score">
  <div class="col-sm-1">
    <h2>{{frame.overallScore}}</h2>
</div>
</div>
